.contact {
  margin: 2rem 0rem 2rem 18rem;
  max-height: 25rem;
  width: 20rem;
  overflow: scroll;
  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 0rem 2rem 0rem;
  }
  img {
    width: 4rem;
    width: 4rem;
    border-radius: 50px;
  }
  p {
    margin-left: 1rem;
  }
}
