$color-white: rgb(255, 255, 255);

.main {
  width: 80vw;
  height: 90vh;
  background-color: rgba($color: $color-white, $alpha: 0.7);
  margin: auto;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
