.form {
  margin: 0 8rem;
  display: inline-block;
  input {
    width: 15rem;
    height: 2.3rem;
    border: none;
    outline: 0;
    font-size: 1.3rem;
    padding: 1.2rem;
    border-radius: 10px;
  }
  input::placeholder {
    font-size: 1rem;
  }
  .search {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    right: 2rem;
    top: 0.4rem;
  }
}
