$color-gray: rgb(228, 226, 226);
$color-gray-dark: rgb(73, 73, 73);

.sidebar {
  position: absolute;
  right: 0;
  top: 5rem;
  border-left: 1px solid $color-gray;
  display: inline-block;
  .navbar {
    width: 20vw;
    height: 90vh;
    border-radius: 10px;

    .contact-list {
      text-align: justify;
      li {
        list-style: none;
        font-size: 1.2rem;
        direction: rtl;
        margin: 2.1rem 1.2rem 1.2rem 0rem;
      }
      a {
        color: $color-gray-dark;
        text-decoration: none;
      }
      span {
        margin-left: 2rem;
      }
    }
  }
  .logo {
    font-size: 1.7rem;
    margin-left: 0.5rem;
    color: $color-gray-dark;
  }
}
