code {
  font-family: "nazanin";
  font-size: 100%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: nazanin;

  src: url(/Fonts/BNazanin.ttf);
  src: url(/Fonts/BNazanin.woff);
}
